.applications-main {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 95%;
  height: fit-content;
  padding: 32px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.application-cards-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
  width: 100%;
}

.applications-filters {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 17px 73px 17px 17px;
  border-radius: 16px;
  border: 1px solid #dee1e6;
  position: relative;
}

.applications-filters-icon {
  position: absolute;
  color: #565d6d;
  width: 20px;
  height: 20px;
  right: 29px;
  top: 50%;
  transform: translateY(-50%);
}

.applications-search-filter-container {
  display: flex;
  align-items: center;
  width: fit-content;
}

.applications-cards-container-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px;
}

.applications-cards-container-title p {
  padding: 25px;
  background-color: #fff8f0;
  border-radius: 14px;
  border: 1px solid #f286021a;
  color: #171a1f;
  font-size: 32px;
  font-weight: bold;
}

.applications-cards-container-title span {
  color: #f28705;
}
