.jobs-screen-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.job-header {
  background-color: #f9fafa;
  display: flex;
  align-items: center;
  padding: 64px 122px;
  width: 100%;
}

.job-header-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.job-header-container > h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #17191c;
  margin-bottom: 16px;
}

.job-header-container > h2 > span {
  color: #f28602;
}

.job-header-container > p {
  font-size: 18px;
  color: #353940;
  font-weight: 400;
  margin-bottom: 32px;
}

.search-jobs {
  all: unset;
}

.search-job-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 20px;
  height: 20px;
  color: #353940;
}

.search-job-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 66px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid #f4f4f6;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  padding: 12px 0px 12px 40px;
}

.search-job-button-container {
  padding: 9px;
  display: flex;
  height: 66px;
}

.search-job-button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: #f28602;
  color: #17191c;
  width: 126px;
  height: 100%;
  transition:
    background-color 0.2s,
    transform 0.2s;
}

.search-job-button:hover,
.search-job-button:focus-visible {
  transform: scale(1.05);
}

.job-search-sidebar-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 16%;
}

.job-search-sidebar-icon {
  color: #f28602;
  width: 20px;
  height: 20px;
}

.job-search-sidebar-header-title > p {
  color: #17191c;
  font-size: 20px;
  font-weight: bold;
}

.job-search-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-search-sidebar-header-title {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.job-search-sidebar-clear {
  all: unset;
  color: #f28602;
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.2s;
}

.job-search-sidebar-clear:hover,
.job-search-sidebar-clear:focus-visible {
  transform: scale(1.05);
}

.job-search-sidebar-content {
  width: 100%;
  height: fit-content;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  border: 1px solid #F4F4F6;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  row-gap: 12px;
}

.job-main {
  width: 100%;
  height: fit-content;
  display: flex;
  column-gap: 40px;
  padding: 56px 112px 40px 112px;
}

.job-search-sidebar-content .filter-sidebar-container {
  padding-bottom: 22px;
  border-bottom: 1px solid #F4F4F6;
}

.job-search-sidebar-content .filter-sidebar-container:last-child {
  border-bottom: none;
}

.jobs-container {
  display: flex;
  row-gap: 16px;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}