.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 100vh;
  background-color: #f9fafa;
  padding: 24px 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  align-items: center;
  user-select: none;

  transition:
    width 0.4s ease,
    padding 0.4s ease;
  overflow: visible;
}

.sidebar.sidebar-closed,
.sidebar.sidebar-closed .sidebar-auth{
  width: 72px;
  padding: 24px 0px;
}

.sidebar.sidebar-closed .sidebar-logo h2,
.sidebar.sidebar-closed .sidebar-auth span,
.sidebar.sidebar-closed .nav-item span {
  display: none;
}

.logo-icon-container {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #f28602;
}

.logo-icon-sidebar {
  width: 22px;
  height: 22px;
  color: #ffffff;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.sidebar-logo > h2 {
  font-size: 20px;
  color: #f28602;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

.nav-icon {
  width: 20px;
  height: 20px;
  color: #353940;
}

.nav-item.active .nav-icon {
  color: #f28602;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-top: 32px;
  width: 100%;
}

.nav-item {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  column-gap: 12px;
  border-radius: 12px;
  color: #353940;
  font-size: 14px;
  font-weight: 500;
  width: 223px;
  height: 44px;
  padding: 16px 16px;
  text-decoration: none;
}

.sidebar-logout {
  all: unset;
  box-sizing: border-box;
}

.sidebar.sidebar-closed .nav-item,
.sidebar.sidebar-closed .sidebar-auth.sidebar-logout:hover,
.sidebar.sidebar-closed .sidebar-auth {
  border-radius: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item.active {
  background-color: #f286021a;
  color: #f28602;
}

.nav-item:hover,
.nav-item:focus-visible {
  background-color: #f286020d;
  color: #f28602;
}

.nav-item:hover .nav-icon,
.nav-item:focus-visible .nav-icon {
  color: #f28602;
}

.sidebar-auth {
  position: absolute;
  bottom: 20px;
  width: 223px;
  height: 44px;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sidebar-auth.sidebar-logout {
  color: #d92626;
}

.auth-icon {
  width: 20px;
  height: 20px;
  transform: scaleX(-1);
}

.sidebar-auth.sidebar-logout:hover, 
.sidebar-auth.sidebar-logout:focus-visible {
  transform: scale(1.05);
  background-color: #d926261a;
  border-radius: 12px;
}

.sidebar-toggle {
  width: 28px;
  height: 28px;
  color: #f28602;
  cursor: pointer;
  display: none;
  position: absolute;
  position: absolute;
  top: 50%;
  right: -14px;
  transform: translateY(-50%);
  z-index: 10;
}

.sidebar:hover .sidebar-toggle {
  display: flex;
}

.nav-divider {
  height: 1px;
  margin: 8px 0;
  background: #e5e7eb;
}