.my-interviews-main {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 95%;
  height: fit-content;
  padding: 32px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.my-interviews-cards-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 23px;
  width: 100%;
}
