.signup-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f6;
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  padding: 20px 0;
}

.signup-screen-container {
  padding: 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 448px;
  height: 780px;
  border-radius: 14px;
  border: 1px solid #f4f4f6;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.signup-screen-container.with-error {
  height: 869px;
}

.signup-screen-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.signup-screen-logo img {
  width: 48px;
  height: 48px;
}

.signup-screen-logo h2 {
  font-size: 31px;
  font-weight: 800;
  color: #f28602;
  font-family: "Outfit", sans-serif;
}

.signup-screen-content {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 6px;
}

.signup-screen-content h2 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  color: #17191c;
}

.signup-screen-content p {
  font-size: 14px;
  color: #353940;
  text-align: center;
}

.signup-form {
  padding-top: 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 366px;
}

.signup-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 11px;
  width: 100%;
}

.signup-form label {
  font-size: 14px;
  color: #17191c;
  font-weight: 600;
}

input::placeholder {
  color: #9ca3af;
}

.signup-form input {
  width: 100%;
  height: 41px;
  border: 1px solid #f4f4f6;
  border-radius: 12px;
  padding: 12px;
  font-size: 14px;
  width: 366px;
}

.email-input,
.password-input,
.fullname-input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 9px;
}

#signup-email {
  background-repeat: no-repeat;
  background-position: 12px center;
}

.password-field {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-email-icon {
  position: absolute;
  margin-left: 12px;
  margin-top: 36.5px;
}
.password-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.error-container {
  margin-top: 24px;
  height: 65px;
  width: 100%;
  padding-left: 13px;
  padding-right: 34px;
  border-radius: 12px;
  background-color: rgb(217, 38, 38, 0.1);
  border: 1px solid rgb(217, 38, 38, 0.2);
  color: #d92626;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  gap: 8px;
  font-weight: 600;
}

.signup-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
  margin-top: 32px;
}
#signup-button {
  all: unset;
  text-align: center;
  width: 366px;
  height: 48px;
  background-color: #f28602;
  color: #17191c;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

#signup-button:hover {
  background-color: #f28602a0;
}

#signup-button:active{
  background-color: #f28602;
}

.signup-form input:focus {
  outline: none;
  border: 1px solid #f28602a0;
  box-shadow: 0 0 0 2px rgba(242, 134, 2, 0.2);
}

#signup-button:focus-visible {
  outline: none;
  transform: translateY(-1px);
  box-shadow:
    0 0 0 1px #ffffffa0,
    0 0 0 2px #f28602a0,
    0 0 0 4px rgba(242, 134, 2, 0.2);
}

.security-notes {
  margin-top: 23px;
}
.security-note {
  font-size: 12px;
  color: #353940;
  text-align: center;
  width: 353px;
}

.policy-link {
  text-decoration: underline;
  cursor: pointer;
}

.copyright {
  font-size: 10px;
  color: #353940;
  opacity: 0.6;
  text-align: center;
  margin-top: 8px;
  width: 351px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.signin-link {
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.signin-link p {
  color: #353940;
}

.signin-link a {
  margin-left: 4px;
  color: #f28602;
  font-weight: 600;
}